footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    gap: 10px;
    padding: 20px 0;
    font-size: 14px;

    .footer-logo {
        width: 120px;

        img {
            width: 100%;
        }
    }

    .social-links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        a {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            color: var(--color-text--dark);
        }
    }
}