.app-shell {
    display: flex;
    overflow: hidden;

    .navigation {
        flex-basis: 10%;
        height: 100%;

        .close {
            transition: all 0.6s ease-in-out;
            left: 0%;
        }

        .close-menu-btn {
            display: none;
        }

        .navbar-wrapper {
            position: fixed;
            width: 250px;
            height: 100dvh;
            overflow: hidden;
            border-right: solid 1px #4b4b4f30;
            background-color: var(--color-bg--light);
            z-index: 10;
            transition: left 0.3s ease-in-out;
        }
    }

    .home-page {
        flex-basis: 85%;
        margin: 0 auto;
        width: 100%;
        max-width: 970px;
        min-height: 80dvh;

        .top-navigation {
            display: none;
        }

        .hero {
            display: flex;
            flex-direction: column;

            .secondary-menu {
                display: none;
            }

            .title {
                text-align: center;
                padding: 20px 30px;

                h1 {
                    font-size: 1.4em;

                    font-weight: 600;
                    color: var(--color-text--dark);
                }
            }
        }
    }

}

@media screen and (min-width: 1600px) {
    .app-shell {

        .navigation {
            flex-basis: 0%;
        }

        .home-page {
            flex-basis: 100%;
        }
    }
}


@media screen and (max-width: 1200px) {
    .app-shell {

        .navigation {
            flex-basis: 0%;

            .close {
                left: -100%;
            }

            .close-menu-btn {
                display: flex;
            }
        }

        .home-page {
            flex-basis: 0%;
            width: 100%;
            max-width: 850px;

            .top-navigation {
                display: flex;
                max-width: 990px;

                .header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    padding: 8px 0 3px 0;
                }

                .top-navigation-logo {
                    margin: 0 auto;

                    img {
                        max-width: 150px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1050px) {
    .app-shell {
        margin: 0 30px;

        .navigation {
            flex-basis: 0%;
        }

        .home-page {
            flex-basis: 100%;
            min-width: 100%;

            .top-navigation {
                display: flex;
                max-width: 990px;

            }
        }
    }
}

@media screen and (max-width: 750px) {
    .app-shell {

        .home-page {
            display: flex;
            justify-content: center;
            flex-basis: 100%;
            width: 100%;

            .top-navigation {
                display: flex;
                width: 100%;
                max-width: 100%;

            }

            .hero {
                width: 110%;

                .secondary-menu {
                    display: flex;
                    justify-content: space-between;
                    width: 95%;

                    .header-link {
                        padding: 15px 30px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .app-shell {

        .navigation {
            display: none;
        }

        .home-page {
            flex-basis: 100%;
            width: 100%;

        }
    }
}

@media screen and (max-width: 500px) {
    .app-shell {

        .home-page {
            width: 110%;

        }
    }
}


@media screen and (max-width: 455px) {

    .home-page {
        min-width: 125%;
    }

}