:root {
    --color-bg: #f6e0a4;

    --color-bg--white: #fff;
    --color-bg--light: #fdfdfd;

    --color--blue: #2fc4ee;
    --color--red: #d84848;
    --color--purple: #ba7bd5;
    --color--yellow: #f4d156;
    --color--green: #67c95d;

    --color-text--light: #4b4b4f;
    --color-text--dark: #1a1a1a;
    --font-type: "Poppins", sans-serif;
}